SYNDERAI-WORKBENCH/SYNTHETIC-DATA-GENERATION/*
!SYNDERAI-WORKBENCH/SYNTHETIC-DATA-GENERATION/README.md

SYNDERAI-WORKBENCH/SYNTHETIC-DATA/*
!SYNDERAI-WORKBENCH/SYNTHETIC-DATA/README.md

SYNDERAI-WORKBENCH/SYNTHETIC-INSTANCE-GENERATION/config.php

SYNDERAI-WORKBENCH/SYNTHETIC-INSTANCE-GENERATION/validator_cli.jar

SYNDERAI-WORKBENCH/SYNTHETIC-INSTANCE-GENERATION/statistics/

SYNDERAI-WORKBENCH/_archive/

SYNDERAI-WORKBENCH/FSH-FHIR-GENERATOR/_*

SYNDERAI-WORKBENCH/TESTBEDS/

material/prents

**/_archive
**/bin
**/cache
**/_*.txt
**/_*.md
**/_*.fsh
**/*.zip
